#Header{
    height: 100px;
}

.title{
    font-family:sans-serif,serif, monospace;
    font-size:32pt;
    margin:0px 0px 0px 0px;
    color:#ffffff
}

.text_center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 900;
}

.project_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 900;
    transition: .5s ease;
    opacity: 0;
}

.Banner{
    width: 100%;
    padding:60px 0;
    text-align: center;
    background: #49ddc1;
    height: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: #000 ;
}

#Profile_pic{
    width: 175px;
    height: 175px;
    border: solid 2px black;
    border-radius: 50%;
    object-fit:cover;
    object-position:77% 23%;
    display: flex;
    position:relative;
}
body{
    display: inline-block;
    background-color: #4f5d7e;
    margin: 0 0 0 0;
}

#body_spacer{
    height:20px;
}

#container{
    margin: 0px 0px 0px 0px;
    height: fit-content;
}

.Projects_container{
    /* background-color: aquamarine; */
    display: inline-block;
    flex-direction: row-reverse;
}



.projects{
    display: flex;
    flex-direction: row-reverse;
    row-gap:20px ;
}
  
.project_box{
    border:solid;
    width: 300px;
    height: 150px;
    display: flex;
    box-shadow:  0px 3px 8px #000;
    transition: 0.26s ;
    position: relative;
    text-align: center;
}

.project_box:hover{
    box-shadow: 0px 8px 50px #ec4145 ;
    transform: scale(1.2);
    opacity: 0.5;
}

.project_text:hover{
    opacity:1;
    font-size:16px;
    color:#ffffff;
    font-size:32px;
}

.project_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 900;
    transition: .5s ease;
    opacity: 0;
}

/* Bio Section  */
#Bio_tag{
    text-align: left;
    position:absolute;
    font-family:sans-serif,serif, monospace;
    font-size:32px;
    left:0px;
    color:#ffffff

}

#bio_vertical_line{
    border-left: 10px solid ;
    height:130px;
    margin: 0px 0px 0px 120px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color:#ffffff

}

#bio{
    display:flex;
    flex-wrap:wrap;
    font-size:20px;
    text-align:left;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 40px;
    font-family:sans-serif,serif, monospace;
    color:#ffffff

}

#projects_vertical_line{
    border-left: 10px solid ;
    height:720px;
    margin: 0px 0px 0px 120px ;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #2f3136;
    border-color:#ffffff;


}

#Projects_tag{    
    text-align: left;
    position:absolute;
    font-family:sans-serif,serif, monospace;
    font-size:30px;
    left:0px;
    color:#ffffff

}


/* Python Projects */

#python_title{
    display:block;
    font-size:42px ;
    color:#5866ef
}

#discord_bot{
    margin-left:10%;
    margin-right:10%;
}

/* #password_generator{

} */

/* Javascript porjects */
#javascript_porjects{
    display:inline-block;
    margin:auto;
}

#calculator{
    margin-left:10%;
    margin-right:10%;
}

/* #weather{
    
} */

/* C# porjects */
.C#_porjects{
    display:block;
    padding-bottom:30px;
    
}
#poll{
    margin-left:10%;
    margin-right:10%;
}

/* #cart{

} */
/* Contact information section */
#footer{
    height: 200px;
    display:inline-block;
}

h3{align-items: center;
    height: 200px;
    justify-content: center;
    font-family:sans-serif,serif, monospace;
}

#contact{  align-items: center;
    display:flex;
    align-items: center ;
    justify-content: center;
    margin:auto;
    font-family:sans-serif;

}

#contact_buttons{  align-items: center;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    margin:auto;
}
.linkedin_buttons{
    display:inline-block;
    max-height:50px ;
    margin:0px 5px auto;
}

.github_buttons{
    display:inline-block;
    max-height:50px ;
    margin:0px 5px auto;
}


.email_buttons{
    display:inline-block;
    max-height:50px ;
    margin:0px 5px auto;
}